<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Catel.Core" version="4.2.0-unstable0177" targetFramework="net4" />
  <package id="Catel.Extensions.Controls" version="4.2.0-unstable0177" targetFramework="net4" />
  <package id="Catel.Fody" version="2.6.0" targetFramework="net4" developmentDependency="true" />
  <package id="Catel.MVVM" version="4.2.0-unstable0177" targetFramework="net4" />
  <package id="Fluent.Ribbon" version="3.4.0" targetFramework="net4" />
  <package id="Fody" version="1.28.3" targetFramework="net4" developmentDependency="true" />
  <package id="GoogleAnalyticsSDK" version="1.2.12" targetFramework="net4" />
  <package id="LoadAssembliesOnStartup.Fody" version="1.6.0" targetFramework="net4" developmentDependency="true" />
  <package id="MethodTimer.Fody" version="1.15.3.0" targetFramework="net4" developmentDependency="true" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net4" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net4" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net4" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net4" />
  <package id="ModuleInit.Fody" version="1.5.6.0" targetFramework="net4" developmentDependency="true" />
  <package id="Orc.Analytics" version="1.0.0-unstable0018" targetFramework="net4" />
  <package id="Orc.Controls" version="1.0.0-unstable0268" targetFramework="net4" />
  <package id="Orc.FilterBuilder" version="1.4.0-unstable0100" targetFramework="net4" />
  <package id="Orc.Squirrel" version="1.0.0-unstable0046" targetFramework="net4" />
  <package id="Orc.Squirrel.Xaml" version="1.0.0-unstable0046" targetFramework="net4" />
  <package id="Orc.WorkspaceManagement" version="1.0.0-unstable0099" targetFramework="net4" />
  <package id="Orc.WorkspaceManagement.Xaml" version="1.0.0-unstable0099" targetFramework="net4" />
  <package id="Orchestra.Core" version="2.2.0-unstable0115" targetFramework="net4" />
  <package id="Orchestra.Shell.Ribbon.Fluent" version="2.2.0-unstable0115" targetFramework="net4" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net4" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net4" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net4" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net4" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net4" />
  <package id="Rx-WPF" version="2.2.5" targetFramework="net4" />
  <package id="Rx-XAML" version="2.2.5" targetFramework="net4" />
</packages>